/* ==================== FLORES Y TALLOS AJUSTADOS ==================== */


/* Contenedor de flores */

.flowers {
    position: relative;
    transform: scale(0.7);
    z-index: 2;
}


/* Cada flor */

.flower {
    position: absolute;
    bottom: 15vmin;
    transform-origin: bottom center;
    z-index: 50;
}


/* Animaciones de movimiento */

.flower--1 {
    animation: moving-flower-1 4s linear infinite;
}

.flower--2 {
    left: 50%;
    transform: rotate(20deg);
    animation: moving-flower-2 4s linear infinite;
}

.flower--3 {
    left: 50%;
    transform: rotate(-15deg);
    animation: moving-flower-3 4s linear infinite;
}

.flower--4 {
    left: -25%;
    z-index: -6;
    transform: rotate(10deg);
    animation: moving-flower-4 3.5s linear infinite;
}

.flower--5 {
    left: 75%;
    z-index: -7;
    transform: rotate(-25deg);
    animation: moving-flower-5 4.5s linear infinite;
}


/* Tallo */

.flower__line {
    width: 2.5vmin;
    /* más grueso */
    height: 45vmin;
    /* más corto */
    margin: 0 auto;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent, rgba(255, 255, 255, 0.2)), linear-gradient(to top, transparent 10%, #2d5016, #4a7c23, #6b8e23);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    border-radius: 1.5vmin;
    animation: grow-flower-tree 4s backwards;
}


/* Hojas del tallo */

.flower__line__leaf {
    --w: 8vmin;
    --h: calc(var(--w) + 3vmin);
    position: absolute;
    top: 20%;
    left: 90%;
    width: var(--w);
    height: var(--h);
    border-top-right-radius: var(--h);
    border-bottom-left-radius: var(--h);
    background-image: linear-gradient(to top, rgba(45, 80, 22, 0.6), #4a7c23, #6b8e23);
    box-shadow: inset 0 0 1vmin rgba(0, 0, 0, 0.3);
}

.flower__line__leaf--1 {
    transform: rotate(70deg) rotateY(30deg);
}

.flower__line__leaf--2 {
    top: 45%;
    transform: rotate(70deg) rotateY(30deg);
}

.flower__line__leaf--3,
.flower__line__leaf--4 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: var(--h);
    border-bottom-right-radius: var(--h);
    left: -460%;
    top: 12%;
    transform: rotate(-70deg) rotateY(30deg);
}

.flower__line__leaf--4 {
    top: 40%;
}


/* Pétalos en la punta del tallo */

.flower__leafs {
    position: absolute;
    top: 0;
    /* punta superior del tallo */
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    gap: 0.5vmin;
    z-index: 2;
}


/* Pétalos externos */

.flower__leaf--1 {
    width: 10vmin;
    height: 16vmin;
    transform: translate(-50%, -10%) rotate(-20deg);
    z-index: 1;
}

.flower__leaf--2 {
    width: 10vmin;
    height: 16vmin;
    transform: translate(-50%, -10%) rotate(20deg);
    z-index: 1;
}

.flower__leaf--3 {
    width: 10vmin;
    height: 16vmin;
    transform: translate(-50%, -15%) rotate(0deg);
    z-index: 2;
}


/* Pétalos internos para volumen */

.flower__leaf--4 {
    width: 8vmin;
    height: 13vmin;
    transform: translate(-50%, -12%) rotate(-10deg);
    z-index: 3;
}

.flower__leaf--5 {
    width: 8vmin;
    height: 13vmin;
    transform: translate(-50%, -12%) rotate(10deg);
    z-index: 3;
}

.flower__leaf--6 {
    width: 8vmin;
    height: 13vmin;
    transform: translate(-50%, -18%) rotate(0deg);
    z-index: 3;
}


/* Centro del tulipán */

.flower__center {
    position: absolute;
    left: -2vmin;
    top: -2vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #ffcc00 0%, #cc6600 80%, #fffde7 100%);
    border: 2px solid #ffe135;
    box-shadow: 0 0 1vmin #fffde7, 0 0 0.5vmin #ffd700, inset 0 0 1vmin #cc6600;
}


/* Luz del tulipán */

.flower__light {
    position: absolute;
    bottom: 0vmin;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: #ffdd00;
    border-radius: 50%;
    filter: blur(0.1vmin);
    animation: tulip-light 6s linear infinite backwards;
    box-shadow: 0 0 1vmin rgba(255, 221, 0, 0.8);
}

.flower__light:nth-child(odd) {
    background-color: #ffaa00;
}